body {
    background-color: #ECB365;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }
  tr{
    background-color: #04293A;
  }
  
  h5, td {
    /* color: white; */
    color: #66bfbf;
  }
  h1 {
    color: #66bfbf;
    font-weight: 900;
    text-decoration: underline;
  }
  a {
    color: #064663;
    text-decoration: underline white;
  }

  p {
      color: white;
  }

  h3 {
  }